<h1>Recordatorio de evento</h1>
<p>Hola <%= @user.name %>,</p>
<p>Te recordamos que tienes un evento programado para el día <%= @event.date %>.</p>
<p>Detalles del evento:</p>
<ul>
<li>Título: <%= @event.title %></li>
<li>Descripción: <%= @event.description %></li>
<li>Ubicación: <%= @event.location %></li>
</ul>
<p>¡Disfruta del evento!</p>
